<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons Templates</title>
    <style>
    </style>
</head>
<body>
    <button class="addButton">
        <img class="list__icon" src="./assets/add.png" alt="add" />
        <span class="tooltip">Add</span>
    </button>

    <button class="deleteButton">
        <img class="list__icon" src="./assets/minus.png" alt="add" />
        <span class="tooltip">Delete</span>
    </button>

    <button class="trashButton">
        <img class="list__icon" src="./assets/trash.png" alt="add" />
        <span class="tooltip">Delete recipe</span>
    </button>

    <button class="updateButton">
        <img class="list__icon" src="./assets/pencil.png" alt="add" />
        <span class="tooltip">Update Recipe</span>
    </button>
</body>
</html>