<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekplan</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Weekly Plan</h1>
    <div class="week">
        <div class="day"><h3>Monday</h3></div>
        <div class="day"><h3>Tuesday</h3></div>
        <div class="day"><h3>Wednesday</h3></div>
        <div class="day"><h3>Thursday</h3></div>
        <div class="day"><h3>Friday</h3></div>
        <div class="day"><h3>Saturday</h3></div>
        <div class="day"><h3>Sunday</h3></div>
    </div>
</body>

</html>