<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekplan</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
    <h1>Weekly Plan</h1>
    <div class="week">
        <div class="day">
            <h3>Monday</h3>
            <div class="listRecipes">
                <div class="week-card">
                    <img class="recipeImg" src="https://picsum.photos/200/300" alt="image">
                    <p class="recipeTitle">Title</p>
                    <div class="buttonType">
                        <p>Breakfast</p>
                        <button class="deleteButton">
                            <img class="list__icon" src="./assets/minus.png" alt="add" />
                            <span class="tooltip">Delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="day"><h3>Tuesday</h3></div>
        <div class="day">
            <h3>Wednesday</h3>
            <div class="listRecipes">
                <div class="week-card">
                    <img class="recipeImg" src="https://picsum.photos/200/300" alt="image">
                    <p class="recipeTitle">Title</p>
                    <div class="buttonType">
                        <p>Breakfast</p>
                        <button class="deleteButton">
                            <img class="list__icon" src="./assets/minus.png" alt="add" />
                            <span class="tooltip">Delete</span>
                        </button>
                    </div>
                </div>
                <div class="week-card">
                    <img class="recipeImg" src="https://picsum.photos/200/300" alt="image">
                    <p class="recipeTitle">Title</p>
                    <div class="buttonType">
                        <p>Breakfast</p>
                        <button class="deleteButton">
                            <img class="list__icon" src="./assets/minus.png" alt="add" />
                            <span class="tooltip">Delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="day"><h3>Thursday</h3></div>
        <div class="day"><h3>Friday</h3></div>
        <div class="day"><h3>Saturday</h3></div>
        <div class="day"><h3>Sunday</h3></div>
    </div>
</body>

</html>